<div>
<h2>Issues</h2>
<table class ="table" id = "Issues">

     <th>Id</th>
     <th>Description</th>
     <th>Speed(km/h)</th>
     <th>Taxi association</th>
     <th>Taxi Rank</th>
     <th>Date</th>
  
 
{{#issues}}
<tr>
      <td>{{Id}}</td>
      <td>{{description}}</td>
      <td>{{speed}}</td>
      <td>{{taxiAssociation_name}}</td>
      <td>{{Rank_name}}</td>
      <td>{{Date}}</td>

     
     <td ><a href="/issues/edit/{{Id}}" class ="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
     <td ><a href="/issues/delete/{{Id}}" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>Delete</a></td >
    </tr>
{{/issues}}

{{#no_issues}}
  <p>No issue available yet. Add some above.</p>
{{/no_issues}}

</table>
</div>
<div class ="well">
<a href="/" class ="btn btn-primary">Back to home</a>
</div>